<div class='container text-center'>
    <h1>About Page</h1>
    <p>We are DevMatch, our company focuses on creating an exclusive community
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. Tenetur, ut, quibusdam odit cupiditate 
    voluptates aliquam dolore modi sit ipsam. Dolorum, est, officia natus 
    vitae omnis rerum recusandae illum fugit nulla?</p>
</div>